.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    width: 100%;
    
}

.row{
    display: flex;
    color: white;    
    width: 60%;
    height: 30rem;  
      
}

.row .col-1{
    flex-basis: 33%;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 40px;

}

.row .col-2{
    flex-basis: 33%;
    background-color: hsl(184, 100%, 22%); 
    padding: 40px;

}

.row .col-3{
    flex-basis: 33%;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px;
    
}

h1{
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    padding: 25px 0px;
}

p{
    line-height: 25px;
}

.col-1 p{
    color: #FECE97;
}

.col-2 p{
    color: #8AC4CF;
}

.col-3 p{
    color: #A6D2D5;
}

.btn{
    background-color: rgb(242,242,242);
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 15px;
    margin-top: 5rem;
    width: 40%;
}

.btn a{
    text-decoration: none;
}

.col-1 .btn a{
    color: hsl(31, 77%, 52%);
}
.col-2 .btn a{
    color: hsl(184, 100%, 22%); 
}
.col-3 .btn a{
    color: hsl(179, 100%, 13%);
}

.attribution{
    display: flex;
    justify-content: center;
    transform: translateY(-600%);
}

@media (max-width:1000px){
    .row{
        display: block;
        width: 100%;
        padding: 20px;
    
    }

    .row .col-1{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;        
    }

    .row .col-3{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;  
    }

    .attribution{
        display: none;
    }
}
